<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration
          name="Foundation.Serialization"
          description="Root items"
          extends="Helix.Feature.Base">
          <predicate>
            <include name="$(layer).Templates.Foundation" database="master" path="/sitecore/templates/Foundation" >
              <exclude children="true">
                <except name="$solutionNamespace$" includeChildren="false"/>
              </exclude>
            </include>
            <include name="$(layer).Templates.Feature" database="master" path="/sitecore/templates/Feature" >
              <exclude children="true">
                <except name="$solutionNamespace$" includeChildren="false"/>
              </exclude>
            </include>
            <include name="$(layer).Templates.Project" database="master" path="/sitecore/templates/Project" >
              <exclude children="true" />
            </include>

            <include name="$(layer).BranchTemplates.Foundation" database="master" path="/sitecore/templates/Branches/Foundation" >
              <exclude children="true">
                <except name="$solutionNamespace$" includeChildren="false"/>
              </exclude>
            </include>
            <include name="$(layer).BranchTemplates.Feature" database="master" path="/sitecore/templates/Branches/Feature" >
              <exclude children="true">
                <except name="$solutionNamespace$" includeChildren="false"/>
              </exclude>
            </include>
            <include name="$(layer).BranchTemplates.Project" database="master" path="/sitecore/templates/Branches/Project" >
              <exclude children="true">
                <except name="$solutionNamespace$" includeChildren="false"/>
              </exclude>
            </include>
            <include name="$(layer).Templates.System.Dictionary" database="master" path="/sitecore/templates/System/Dictionary" >
            </include>
            <include name="$(layer).Renderings.Foundation" database="master" path="/sitecore/layout/renderings/Foundation" >
              <exclude children="true">
                <except name="$solutionNamespace$" includeChildren="false"/>
              </exclude>
            </include>
            <include name="$(layer).Renderings.Feature" database="master" path="/sitecore/layout/renderings/Feature" >
              <exclude children="true">
                <except name="$solutionNamespace$" includeChildren="false"/>
              </exclude>
            </include>
            <include name="$(layer).Renderings.Project" database="master" path="/sitecore/layout/renderings/Project" >
              <exclude children="true" />
            </include>

            <include name="$(layer).Layouts.Project" database="master" path="/sitecore/layout/layouts/Project" >
              <exclude children="true" />
            </include>

            <include name="$(layer).PlaceholderSettings.Project" database="master" path="/sitecore/layout/placeholder settings/Project" >
              <exclude children="true" />
            </include>

            <include name="$(layer).Settings.Foundation" database="master" path="/sitecore/system/Settings/Foundation">
              <exclude children="true">
                <except name="$solutionNamespace$" includeChildren="false"/>
              </exclude>
            </include>
            <include name="$(layer).Settings.Feature" database="master" path="/sitecore/system/Settings/Feature">
              <exclude children="true">
                <except name="$solutionNamespace$" includeChildren="false"/>
              </exclude>
            </include>

            <include name="$(layer).Content" database="master" path="/sitecore/content">
              <exclude children="true">
                <except name="$solutionNamespace$" includeChildren="false"/>
              </exclude>
            </include>

            <include name="$(layer).$(module).Tasks.$solutionNamespace$" database="master" path="/sitecore/system/Tasks/Commands/$solutionNamespace$">
              <exclude children="true" />
            </include>
            <include name="$(layer).$(module).Schedules.$solutionNamespace$" database="master" path="/sitecore/system/Tasks/Schedules/$solutionNamespace$">
              <exclude children="true" />
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>